<!DOCTYPE html>
<html ng-app="T800" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>T800 App</title>
		<script type="application/javascript" src="js/angular.min.js"></script>
		<script type="application/javascript" src="js/angular-route.min.js"></script>
		<link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/Main.css">

	</head>
	<body>
		<div class="nav-div">
			<navbar>
				<ul>
					<li class="mascot">BabyCare</li>
					<li>
						<form class="rounded form-style">
							<span><input type="text" class="search inset rounded" placeholder="search"></span>
							<span><button class="btn circle">Go</button></span>
						</form>
                    <li>
                    <li class="loginUL">
                    	Login <b class="glyphicon glyphicon-user"></b>
                    	<ul>
	                        <li>
	                        	<form class="form-login form-style" method="POST" action="/login">
		                        	<div class="loginForm">
		                        		<input class="login inset" placeholder="username/email id" name="email">
		                        		<input type="password" class="login inset" placeholder="password" name="password">
		                        		<span><input type="submit" class="go" value="&rarr;"/></span>
		                        	</div>
	                        		<div class="loginRadio">
	                        			<label>Login type: </label>
		                        		<input type="radio" name="radioLogin" value="local-login">BabyCare</input>
		                        		<a href="/auth/facebook" class="btn btn-primary btn-xs">
		                        			<img src="images/facebook_icon.ico" class="icon"> Facebook
		                        		</a>
		                        		<a href="/auth/google" class="btn btn-danger btn-xs">
		                        			<img src="images/google.ico" class="icon">Google</a>
	                        		</div>
	                        		
	                        	</form>
	                        </li>
	                    </ul>
                    </li>
                    <li class="loginUL">
                    	<a href="/signup">Sign Up</a>
                    </li>
					<li class="pull-right knowUs">
						Know Us<b class="caret"></b>
	                    <ul class="knowUsUL">
	                        <li>About</li>
	                        <li>Careers</li>
	                        <li>Contact Us</li>
	                    </ul>
                    </li>
				</ul>
			</navbar>
		</div>
		<div class="container">
		</div>
	</body>
</html>
