<!DOCTYPE html>
<html>
<title>About Us</title>
<link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/Main.css">
<link rel="stylesheet" href="css/ListProducts.css">
<body>
	<div class="container productDescExtended"> 
		
		<h2>About us</h2>
		<img class="babyImage" src="images/BabyCareClass.jpg">

		<hr />

		<p>
			Having a baby truly is, the best time of your life. When it comes to the baby, moms want to provide best possible care they can. At baby care, we strive to delight moms and babies, and extend our hands to help you nourishing your baby in every steps by providing best possible products and services to meet the baby's needs. 
		</p>

		<p>
			At baby care, we offer products ranging from strollers, baby gears, feeding, diapering, car seats, toys, bedding etc. Every product offered at baby care from diapering to toys, and everywhere in between has been carefully chosen from the best manufacturers around the world by giving foremost importance to baby's health, safety and parent's peace of mind.  We are dedicated to offer the safest and most innovative products that stand the test of time by working closely with professionals, child experts to ensure and prove that they are safe and beneficial to the development of your child.
		</p>

		</p>
			Our mission is to offer the safe and lowest prices moms (and dads!) will find online, along with the convenience of fast, free shipping and the best customer service around. Standing behind this mission, we at baby care makes it easy for customers to contact us by phone or email - the company name says it all.
		</p>

		</p>
			Happy moms and dads who wants have the best products for their baby, know where to find them and are cheerfully spreading the word 
			<a href ="http://babycare-nairar.rhcloud.com/#/">Babycare.com </a></p>
	 	<p>
			<span> You and your baby are important to us. Go on… have the best time of your life.  We will do the rest</span>
		</p>
	</div>
</body>
</html>