<!DOCTYPE html>
<html>
	<title>Career</title>
	<link rel="stylesheet" href="../bootstrap-3.2.0-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/Main.css">
	<link rel="stylesheet" href="./css/ListProducts.css">
<body>
	<div class = "container">
		<h1>Career @ Babycare</h1>
		<p>To apply for the positions, please send your CV/resume to <a href="#">recruit@babycare.com</a></p>

		<ul>
		<li>
			<div class = "jobpost productDescExtended">
			<h3>Software Developer</h3>

		<h4>Eligibilty :</h4>
		<ul>
			<li>Students from BE/ B.Tech (CSE/ IT/ ECE), M.SC (CSE/ IT), with an aggregate of 70% </li>
		</ul>

		<h4>Job Description :</h4>
		<ul>
			<li>Good understanding of different layers of protocols, networking. </li>
			<li>Good understanding and knowledge of programming skills like C/C++.</li>
			<li>Good understanding of Operating Systems (OS), computer fundamentals.</li>
			<li>Good analytical and problem solving skills.</li>
		</ul>
		</div>
		</li>		

		<li>
		<div class = "jobpost productDescExtended">
			<h3>Sales Manager</h3>

		<h4>Eligibilty :</h4>
		<ul>
			<li> MBA/PGDM(International Marketing, Marketing, Operations Mgmt)</li>
		</ul>

		<h4>Job Description :</h4>
		<ul>
			<li>Primarily responsible for management and development of channel network to promote Insurance and consequently accountable for revenue generation and achievement of business targets. </li>
			<li>Inculcate product as well as practical training to the advisors by accompanying them to client meetings and guiding, advising and motivating them on the sales funnel and achieving revenue targets.</li>
			<li>Doing analysis of the need of the customer and ensuring high level of customer satisfaction leading to customer delight.</li>
			<li>Carrying out various promotional activities for sales as well as for recruitment.</li>
		</ul>
		</div>
		</li>

		<li>
		<div class = "jobpost productDescExtended">
			<h3>Bussiness Development Executive</h3>

		<h4>Eligibilty :</h4>
		<ul>
			<li>BBA/BBM, MBA/PGDM(Marketing)</li>
		</ul>

		<h4>Job Description :</h4>
		<ul>
			<li>Responsible for achieving sales target. </li>
			<li>Defining the exact marketing processes and responsible for executing the same.</li>
			<li>Developing relevant business proposals</li>
			<li>Monitor market Intelligence within the industry in terms of market development, new projects, competitive activity, new customers etc. </li>
			<li>Handling meeting with key clients</li>
		</ul>
		</div>
		</li>
		</ul>
		
	</div>
</body>
</html>
 