<div class="container exactCenter">
	<ul ng-repeat="item in items track by $index">
		<li>{{item.itemId}} + " " + {{item.name}}</li>
	</ul>
	<div>
		<a href="#/user/checkOut"><button class="btn btn-small" type="submit" class="btn btn-primary btn-signup pad" value="Checkout"></a>
	</div>
</div>
<div class="cartEmptyMessage">
	{{message}}
</div>
