<div ng-hide="hideCart" class="container">
	<div>
		<ul ng-repeat="cartItem in cartItems">
			<li>{{cartItem.itemId}}</li>
		</ul>
	</div>
	<div>
		<a href="#/user/checkOut" class="btn btn-success btn-signup pad">Checkout</a>
	</div>
</div>
<div ng-show="hideCart" class="cartEmptyMessage">
	{{cartAlert}}
</div>