<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{customer}}'s Cart</title>
		<script type="application/javascript" src="./js/angular.min.js"></script>
		<script type="application/javascript" src="./js/angular-route.min.js"></script>
		<link rel="stylesheet" href="./bootstrap-3.2.0-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/Main.css">
		<link rel="stylesheet" href="./css/signUp.css">

	</head>
	<body>
		<div class="container exactCenter">
			<form method="POST" action="/createUser">
				<div>
					
				</div>
				<input type="submit" class="btn btn-primary btn-signup pad" value="Checkout">
			</form>
		</diav>
	</body>
</html>