<ul class="productCards" ng-repeat="product in products">
				<li>
					<div>
						<img src="{{product.thumbnailImage}}" />
					</div>
					<div>
						{{product.name}}
					</div>
				</li>
</ul>