<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="BabyCare">
	<head>
		<title>Baby Care</title>
		<script type="application/javascript" src="js/angular.min.js"></script>
		<script type="application/javascript" src="js/angular-route.min.js"></script>
		<script type="application/javascript" src="js/jquery-2.1.1.js"></script>
		<link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/Main.css">
		<link rel="stylesheet" href="css/ListProducts.css">

	</head>
	<body>
		<div class="nav-div">
			<navbar ng-controller="UserController">
				<ul>
					<li class="mascot">BabyCare</li>
					<li>
						<form class="rounded form-style">
							<span><input type="text" class="search inset rounded" placeholder="search"></span>
							<span><button class="btn circle">Go</button></span>
						</form>
                    <li>
                    <li class="loginUL">
                    	{{user.email}}<b class="glyphicon glyphicon-user"></b>
                    	<ul class="loginFormUL" ng-hide="user.isLoggedIn">
	                        <li>
	                        	<form class="form-login form-style">
		                        	<div class="loginForm">
		                        		<input class="login inset" placeholder="email id" name="email">
		                        		<input type="password" class="login inset" placeholder="password" name="password">
		                        		<span><input type="submit" class="go" ng-click="go()" value="&rarr;"/></span>
		                        	</div>
	                        		<div class="loginRadio">
	                        			<label>Login type: </label>
		                        		<input type="radio" name="radioLogin" value="local-login" checked=true>BabyCare</input>
		                        		<a href="/auth/facebook" class="btn btn-primary btn-xs">
		                        			<img src="images/facebook_icon.ico" class="icon"> Facebook
		                        		</a>
		                        		<!-- <a href="/auth/google" class="btn btn-danger btn-xs">
		                        			<img src="images/google.ico" class="icon">Google</a> -->
	                        		</div>
	                        	</form>
	                        </li>
	                    </ul>
                    </li>
                    <li>
                    	<div>
                    		<% if (message.length > 0) { %>
                    		       <div class="alert"><%= message %></div>
                    		<% } %>
                    	</div>
                    </li>
                    <li class="loginUL" ng-show="!user.isLoggedIn">
                    	<a href="/signup">Sign Up</a>
                    </li>
                    <li class="loginUL" ng-show="user.isLoggedIn">
                    	<a href="/Logout">Logout</a>
                    </li>
					<li class="pull-right knowUs">
						Know Us<b class="caret"></b>
	                    <ul class="knowUsUL">
	                        <li>About</li>
	                        <li>Careers</li>
	                        <li>Contact Us</li>
	                    </ul>
                    </li>
				</ul>
			</navbar>
		</div>
		<div class="container homePageNavOptions" ng-view>
			
		</div>
		<script src="services/app.js"></script>
		<script src="controllers/ProductDisplayController.js"></script>
		<script src="controllers/productDisplayService.js"></script>
		<script src="controllers/addToCartFactory.js"></script>
		<script src="controllers/cartController.js"></script>
		<script src="controllers/userController.js"></script>
		<script src="controllers/userService.js"></script>
	</body>
</html>