<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>User profile</title>
		<script type="application/javascript" src="../js/angular.min.js"></script>
		<script type="application/javascript" src="../js/angular-route.min.js"></script>
		<link rel="stylesheet" href="../bootstrap-3.2.0-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/Main.css">

	</head>
	<body>
		<div class="container">
			<h1>Logged in</h1>
		</div>
		<div class="container pull-right">
			<a href="/logout" class="rounded"><img src="../images/logout.png" />Logout</button>
		</div>

	</body>
</html>