<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Sign Up</title>
		<script type="application/javascript" src="./js/angular.min.js"></script>
		<script type="application/javascript" src="./js/angular-route.min.js"></script>
		<link rel="stylesheet" href="./bootstrap-3.2.0-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/Main.css">
		<link rel="stylesheet" href="./css/signUp.css">

	</head>
	<body>
		<div class="container exactCenter">
			<form method="POST" action="/createUser">
				<input type="email" name="email" class="flow-control pad" placeholder="Email">
				<input type="password" name="password" class="flow-control pad" placeholder="Password">
				<input type="submit" class="btn btn-primary btn-signup pad" value="Create">
			</form>
			<% if (message.length > 0) { %>
			       <div class="alert alert-danger"><%= message %></div>
			<% } %>
		</div>
	</body>
</html>